/* 
    editor.css - SkyLight Website Builder
    Made by Robin Boers
    This stylesheet only works in the editor
*/
.main {
    margin: auto;
}
body {
    background: none !important;
    /* background-color: #Idf5G6 !important; */
}

:root {
    --color-one:#35df9c;
/*  --color-two: #1ebf7f; */
}

input, button, input[type="file" i]::-webkit-file-upload-button:hover {
    transition: none !important;
}

a {
    font-weight: bold;
    color: var(--color-one);
}

/* Create Blueprint
* {
    background-color: royalblue;
    border: 1px solid white;
}
*/

/* main {
margin-top: 7px !important;
} */

.active {
background-color: #4CAF50;
}

.login-main {
    width: 80%;
    margin: auto;
    height:100%;
}

.login-main-inner {
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.login-form {
    flex: 2;
    align-self: center;
}

.login-form-inner {
    background-color: rgb(250, 250, 250);
    border:1px solid grey;
    padding:20px;
    border-radius:10px;
}

.login-header {
    flex:1;
}

.login-footer {
  flex: none; /* 2 */
}

html, body, :root {
    height:100% !important;
}

.w3-button:hover {text-decoration: none !important;}
.editor-nav a:hover {text-decoration: none !important;}

.w3-sidebar {
    height:100%;
}

a:hover {
    text-decoration: none !important;
}

textarea {
    border-style: solid;
}