/* 
    editor.css - SkyLight Website Builder
    Made by Robin Boers
    This stylesheet only works in the editor
*/
.main {
    margin: auto;
}
body {
    background: none !important;
    /* background-color: #Idf5G6 !important; */
}

:root {
    --color-one: #35df9c;
    /*  --color-two: #1ebf7f; */
    --color-three: #159461;
    --color-four: #19a56d;
}

input,
button,
input[type="file" i]::-webkit-file-upload-button:hover {
    transition: none !important;
}

a {
    font-weight: bold;
    color: var(--color-one);
}

/* Create Blueprint
* {
    background-color: royalblue;
    border: 1px solid white;
}
*/

.module-content {
    margin-left: 300px;
}

.module-header {
    padding-top: 22px;
}

.active {
    background-color: #4caf50;
}

.login-main {
    width: 80%;
    margin: auto;
    height: 100%;
}

.login-main-inner {
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.login-form {
    flex: 2;
    align-self: center;
}

.login-form-inner {
    background-color: rgb(250, 250, 250);
    border: 1px solid grey;
    padding: 20px;
    border-radius: 10px;
}

.login-header {
    flex: 1;
}

.login-footer {
    flex: none; /* 2 */
}

html,
body,
:root {
    height: 100% !important;
}

.w3-button:hover {
    text-decoration: none !important;
}
.editor-nav a:hover {
    text-decoration: none !important;
}

.w3-sidebar {
    height: 100%;
}

a:hover {
    text-decoration: none !important;
}

textarea {
    border-style: solid;
}

label {
    display: block;
    margin: 10px;
}

.inline-form,
.inline-form * {
    display: inline;
}

.settings hr {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.settings,
.settings h5 {
    margin: 10px 0px 25px !important;
}

.quickstart-list a {
    color: darkslategray;
}

.quickstart-list a:hover {
    color: rgb(63, 107, 107);
    text-decoration: underline;
}

.new-post {
    background-color: var(--color-three);
    color: white;
}

.new-post:hover {
    background-color: var(--color-four) !important;
    color: white !important;
}

.quickstart h3,
.password-prompt h3 {
    margin-bottom: 0 !important;
}

.quickstart p,
.password-prompt p {
    margin-top: 0;
}

.quickstart p {
    color: rgb(70, 70, 70);
}

.quickstart .close {
    float: right;
    color: rgb(83, 83, 83);
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

.quickstart .close:hover {
    color: rgb(41, 41, 41);
}

.dashboard-section {
    border-radius: 8px;
}

/* Min height for Quill editor */
.editor, #editor {
    min-height: 600px;
}

.ql-toolbar, .ql-container {
    border-left: none !important;
}

/* Settings for the textarea in the editor */
textarea {
    width: 70%;
    height: 100px;
    border-radius: 20px;
    font-family: sans-serif;
    padding: 20px;
    resize: none;
}

/******************************
    ////////////////////////
    /////// BUTTONS ////////
    ////////////////////////
******************************/

/* Cool buttons */
input[type="button" i],
input[type="submit" i],
input[type="reset" i],
input[type="file" i]::-webkit-file-upload-button,
button,
select {
    /*    border-style: outset;*/
    border-style: solid;
    border-image: initial;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    border-width: 0;
}

/******************************
     ////////////////////////
    //////// INPUT /////////
   ////////////////////////
******************************/

/* Border */
input[type="text" i],
input[type="tel" i],
input[type="email" i],
input[type="password" i],
select {
    /*    border-style: outset;*/
    border-style: solid;
    border-image: initial;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 3px;
    height: 40px;
    border-width: 1px;
    border-color: gray;
}

/* Remove outline */
:focus,
input[type="file" i]::-webkit-file-upload-button,
input,
button {
    outline: none !important;
}

/*********************
      ///////////////////////
     //////// RANGE ////////
    ///////////////////////
   **********************/

/* Reset everything */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* IE & Edge */
input[type="range"]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* Something is happening */

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: deepskyblue;
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: deepskyblue;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: deepskyblue;
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: white;
    cursor: pointer;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background: deepskyblue;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
    background: greeb;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: deepskyblue;
    cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
    background: deepskyblue;
}
input[type="range"]:focus::-ms-fill-upper {
    background: deepskyblue;
}

.editor-nav a:hover {
    text-decoration: none !important;
}